<style>

  
    .Button_root__3ros1 {
        /* background: #202020;
        border: 0;
        border-radius: 18px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        height: 36px;
        padding: 0 24px;
        position: relative;
        transition: background .2s ease-in-out, color .2s ease-in-out;
        white-space: nowrap; */
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        color: #9e9fa1;
        border-bottom: 1px solid #9e9fa1;
        padding: 0;
        line-height: 1.3;
  
    }
     
    .Button_root__3ros1:active {
        position: relative;
        top: 1px
    }
    
    .Button_root__3ros1 svg {
        fill: currentColor
    }
    
    .Button_buttonIsh__13Df5 {
        align-items: center;
        display: inline-flex;
        font-family: ov-gothic, HelveticaNeue-Bold, Helvetica Neue Bold, Helvetica Neue, arial, sans-serif
    }
    
    /* .Button_big__OK2JF {
        border-radius: 24px;
        height: 48px
    } */
    
    .Button_bordered__1ac6P {
        background: transparent;
        border: 2px solid #202020;
        color: #202020
    }
    
    .Button_bordered__1ac6P:not(.Button_disabled__1f6YP):active,
    .Button_bordered__1ac6P:not(.Button_disabled__1f6YP):focus,
    .Button_bordered__1ac6P:not(.Button_disabled__1f6YP):hover {
        background: #202020;
        color: #fff
    }
    
    .Button_full__2vjxH {
        width: 100%
    }
    
    
    
    .Button_small__1WqE1 {
        font-size: 13px
    }
    
    .Button_disabled__1f6YP,
    .Button_disabled__1f6YP:hover {
        background: #d2d2d2;
        border-color: #d2d2d2;
        cursor: default
    }
    
    .Button_linkStyle__JQEH1 {
        background: transparent;
        border-radius: 0;
        color: #202020;
        height: auto;
        padding: 0
    }
    
    .Button_linkStyle__JQEH1:hover {
        background: transparent;
        color: #000f9f
    }
    
    .Button_gray__2O2iF {
        background: #f1f1f1;
        color: #202020
    }
    
    .Button_gray__2O2iF:hover {
        background: #d2d2d2;
        color: #202020
    }
    
    .Button_gray__2O2iF.Button_on__1f7Xk {
        background: #ccd3da
    }
    
    .Button_white__3_yYO {
        background: #fff;
        color: #202020
    }
    
    .Button_white__3_yYO:active,
    .Button_white__3_yYO:focus,
    .Button_white__3_yYO:hover {
        background: #202020;
        color: #fff
    }
    
    .Button_borderedHover__1yUSe {
        background: #fff;
        border: 2px solid transparent;
        color: #202020
    }
    
    .Button_borderedHover__1yUSe:hover {
        background: #202020;
        border-color: #fff;
        color: #fff
    }
    
    .Button_borderedInverseHover__2eyYO {
        background: transparent;
        border: 2px solid #fff;
        color: #fff
    }
    
    .Button_borderedInverseHover__2eyYO:hover {
        background: #fff;
        color: #202020
    }
    
    .Button_iconLeft__3guer {
        padding-left: 36px;
        text-align: right
    }
    
    .Button_iconLeft__3guer.Button_small__1WqE1 {
        padding-left: 25px
    }
    
    .Button_iconLeft__3guer svg {
        left: 0
    }
    
    .Button_iconRight__3WCzF {
        padding-right: 36px;
        text-align: left
    }
    
    .Button_iconRight__3WCzF.Button_small__1WqE1 {
        padding-right: 25px
    }
    
    .Button_iconRight__3WCzF svg {
        right: 0
    }
    
    .Button_iconLeft__3guer,
    .Button_iconRight__3WCzF {
        position: relative
    }
    
    .Button_iconLeft__3guer svg,
    .Button_iconRight__3WCzF svg {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
    
    .Button_iconLeft__3guer.Button_small__1WqE1 svg,
    .Button_iconRight__3WCzF.Button_small__1WqE1 svg {
        height: 25px;
        width: 25px
    }
    
    /* .ButtonLink_root__3shu0 {
        display: inline-block;
        font-family: ov-gothic, HelveticaNeue-Bold, Helvetica Neue Bold, Helvetica Neue, arial, sans-serif;
        line-height: 36px;
        text-align: center;
        text-decoration: none
    } */
    
    /* .ButtonLink_root__3shu0:active,
    .ButtonLink_root__3shu0:focus,
    .ButtonLink_root__3shu0:hover {
        color: #fff
    } */
    
    .ButtonLink_bordered__2GXLK,
    .ButtonLink_borderedHover__AzIqq,
    .ButtonLink_borderedInverseHover__28vG9 {
        line-height: 32px
    }
    
    .ButtonLink_bordered__2GXLK:focus,
    .ButtonLink_borderedHover__AzIqq:active,
    .ButtonLink_borderedHover__AzIqq:focus {
        color: #202020
    }
    
    .ButtonLink_borderedHover__AzIqq:hover {
        color: #fff
    }
    
    .ButtonLink_borderedInverseHover__28vG9:active,
    .ButtonLink_borderedInverseHover__28vG9:focus,
    .ButtonLink_borderedInverseHover__28vG9:hover {
        background-color: #fff;
        color: #202020
    }
    
    .ButtonLink_gray__2mXFN:active,
    .ButtonLink_gray__2mXFN:focus,
    .ButtonLink_gray__2mXFN:hover {
        color: #202020
    }
    
    .ButtonLink_gray__2mXFN.ButtonLink_on__3V_Be {
        color: #fff
    }
    
    /* .ButtonLink_big__212Yr {
        line-height: 48px
    } */
    
    .ButtonLink_big__212Yr.ButtonLink_borderedHover__AzIqq {
        line-height: 46px
    }
    
    .HomepageCarousel_carousel__2Tu1M,
    .HomepageCarousel_root__1p5ID {
        position: relative
    }
    
    .HomepageCarousel_header__18LIm {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
        width: 100%;
        padding: 0 45px;
    }
    
    .HomepageCarousel_title__3MTTN {      
        font-weight:400;     
        margin: 0;
        flex: 1;
        font-family:"SF-Body-font";
      font-size:20px;
      color:#231f20;
    }
    
    .HomepageCarousel_items__1K0m8 {
        -webkit-overflow-scrolling: touch;
        display: flex;
        margin-bottom: 12px;
        padding: 0;
        position: relative;
        scroll-padding-left: 36px;
        -ms-scroll-snap-type: x proximity;
        scroll-snap-type: x proximity
    }
    
    .HomepageCarousel_items__1K0m8::-webkit-scrollbar {
        background: transparent;
        height: 0;
        width: 0
    }
    
    .HomepageCarousel_items__1K0m8 li {
        list-style: none
    }
    
    .HomepageCarousel_itemWrap__1jVPr {
        align-items: flex-start;
        display: inline-flex;
        margin: 0 1px;
        position: relative
    }
    
    .HomepageCarousel_ghost__2KCmV,
    .HomepageCarousel_itemWrap__1jVPr {
        scroll-snap-align: start
    }
    
    .HomepageCarousel_ghost__2KCmV {
        display: block;
        flex-shrink: 0;
        width: 36px
    }
    
    .HomepageCarousel_carouselButton__3ySPE {
        border: none;
        height: 80px;
        position: absolute;
        top: 45%;
        width: 80px;
        z-index: 1
    }
    
    .HomepageCarousel_carouselButton__3ySPE.HomepageCarousel_buttonLeft__2JQa2 {
        background-color: #fff;
        left: 0
    }
    
    .HomepageCarousel_carouselButton__3ySPE.HomepageCarousel_buttonRight__213_z {
        background-color: #fff;
        right: 0
    }
    
    .HomepageCarousel_carouselButton__3ySPE:hover {
        background-color: #fff !important
    }
    
    .HomepageCarousel_carouselButton__3ySPE:hover,
    .HomepageCarousel_carouselButton__3ySPE:hover svg {
        color: #000f9f
    }
    
    .HomepageCarousel_carouselButton__3ySPE.HomepageCarousel_disabled__1_VqI {
        cursor: default
    }
    
    .HomepageCarousel_carouselButton__3ySPE.HomepageCarousel_disabled__1_VqI,
    .HomepageCarousel_carouselButton__3ySPE.HomepageCarousel_disabled__1_VqI svg {
        color: #a6a6a6
    }
    
    .HomepageCarousel_carouselButton__3ySPE:not(.HomepageCarousel_disabled__1_VqI):active {
        top: calc(45% + 1px)
    }
    
    .HomepageCarousel_root__1p5ID.HomepageCarousel_removeOuterMargins__UQ_8X {
        width: 100%
    }
    
    .HomepageCarousel_root__1p5ID.HomepageCarousel_removeOuterMargins__UQ_8X .HomepageCarousel_header__18LIm {
        padding: 0
    }
    
    .HomepageCarousel_root__1p5ID.HomepageCarousel_removeOuterMargins__UQ_8X .HomepageCarousel_itemWrap__1jVPr:first-child {
        padding-left: 0
    }
    
    .HomepageCarousel_root__1p5ID.HomepageCarousel_removeOuterMargins__UQ_8X .HomepageCarousel_itemWrap__1jVPr:first-child figure img:nth-child(2) {
        left: 0
    }
    
    .HomepageCarousel_root__1p5ID.HomepageCarousel_removeOuterMargins__UQ_8X .HomepageCarousel_itemWrap__1jVPr:last-child {
        padding-right: 0
    }
    
    .HomepageCarousel_mobile__3PaiO {
        display: none
    }
    
    @media (max-width:1420px) {
        .HomepageCarousel_header__18LIm {
            padding: 0 72px
        }
    
        .HomepageCarousel_root__1p5ID.HomepageCarousel_removeOuterMargins__UQ_8X .HomepageCarousel_header__18LIm {
            padding: 0
        }
    }
    
    @media (max-width:960px) {
        .HomepageCarousel_header__18LIm {
            padding: 0 8px
        }
    
        .HomepageCarousel_items__1K0m8 {
            scroll-padding-left: 24px
        }
    
        .HomepageCarousel_ghost__2KCmV {
            width: 24px
        }
    
        .HomepageCarousel_title__3MTTN {
            font-size: 60px;
            letter-spacing: -2.55px;
            line-height: 1.07
        }
    
        .HomepageCarousel_carouselButton__3ySPE {
            display: none
        }
    
        .HomepageCarousel_root__1p5ID.HomepageCarousel_removeOuterMargins__UQ_8X .HomepageCarousel_header__18LIm {
            padding: 0
        }
    
        .HomepageCarousel_root__1p5ID.HomepageCarousel_removeOuterMargins__UQ_8X .HomepageCarousel_itemWrap__1jVPr:first-child {
            padding-left: 0
        }
    
        .HomepageCarousel_root__1p5ID.HomepageCarousel_removeOuterMargins__UQ_8X .HomepageCarousel_itemWrap__1jVPr:first-child figure img:nth-child(2) {
            left: 0
        }
    
        .HomepageCarousel_root__1p5ID.HomepageCarousel_removeOuterMargins__UQ_8X .HomepageCarousel_itemWrap__1jVPr:last-child {
            padding-right: 0
        }
    }
    
    @media (max-width:550px) {
        .HomepageCarousel_header__18LIm {
            margin-bottom: 16px;
        }
    
        .HomepageCarousel_items__1K0m8 {
            scroll-padding-left: 0;
            -ms-scroll-snap-type: x mandatory;
            scroll-snap-type: x mandatory
        }
    
        .HomepageCarousel_itemWrap__1jVPr {
            scroll-snap-align: center
        }
    
        .HomepageCarousel_ghost__2KCmV {
            width: 12px
        }
    
        .HomepageCarousel_title__3MTTN {
            font-size: 22px;
            letter-spacing: -1.6px;
            line-height: 1.08
        }
    
        .HomepageCarousel_root__1p5ID.HomepageCarousel_removeOuterMargins__UQ_8X .HomepageCarousel_header__18LIm {
            padding: 0
        }
    
        .HomepageCarousel_root__1p5ID.HomepageCarousel_removeOuterMargins__UQ_8X .HomepageCarousel_itemWrap__1jVPr:first-child {
            padding-left: 0
        }
    
        .HomepageCarousel_root__1p5ID.HomepageCarousel_removeOuterMargins__UQ_8X .HomepageCarousel_itemWrap__1jVPr:first-child figure img:nth-child(2) {
            left: 0
        }
    
        .HomepageCarousel_root__1p5ID.HomepageCarousel_removeOuterMargins__UQ_8X .HomepageCarousel_itemWrap__1jVPr:last-child {
            padding-right: 0
        }
    
        .HomepageCarousel_footer__3_zDR {
            align-items: center;
            justify-content: center;
            width: 100%
        }
    
    
        .HomepageCarousel_mobile__3PaiO {
            display: inline-flex
        }
    }
    
    .Items_figure__1_qCg {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0
    }
    
    .Items_item__1-V1i {
        margin: 0 0 12px
    }
    
    .Items_figcaption__3gsw1 {
        width: 95%
    }
    
    .Items_imageWrap__1e5BY {
        background-color: #f1f1f1
    }
    
    .Items_buttonWrap__6cFYw {
        border: none;
        padding: 0
    }
    
    .Items_image__3KXkF {
        display: block;
        height: 772px;
        min-width: 579px;
        object-fit: cover;
        object-position: top center
    }
    
    .Items_link__1UMiS {
        text-decoration: none
    }
    
    .Items_title__1FDvM {
        font-family: merlo, georgia, serif;
        font-size: 24px;
        line-height: 1.25
    }
    
    .Items_subtitle__35RQC {
        color: #737373;
        display: inline;
        font-family: ov-gothic, HelveticaNeue-Bold, Helvetica Neue Bold, Helvetica Neue, arial, sans-serif;
        font-size: 13px;
        margin: 6px 0
    }
    
    .Items_productItem__3Z6p- .Items_image__3KXkF {
        opacity: 1;
        transition: opacity .3s ease-in-out
    }
    
    .Items_productItem__3Z6p- .Items_imageHover__3b1du {
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0
    }
    
    .Items_productItem__3Z6p-:hover .Items_image__3KXkF {
        opacity: 0
    }
    
    .Items_productItem__3Z6p-:hover .Items_imageHover__3b1du {
        opacity: 1
    }
    
    .Items_hoverCtaItem__2cZ6D {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    
    .Items_hoverCtaItem__2cZ6D .Items_subtitle__35RQC {
        margin: 0 0 6px
    }
    
    .Items_hoverCtaItem__2cZ6D .Items_cta__1drLt {
        left: 50%;
        opacity: 0;
        position: absolute;
        top: calc(50% - 48px);
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        transition: opacity .2s ease-in-out;
        z-index: 1
    }
    
    .Items_hoverCtaItem__2cZ6D:hover .Items_cta__1drLt {
        opacity: 1
    }
    
    .Items_animationLoop__PykIO {
        -webkit-animation: Items_loop__2j__T .6s ease infinite;
        animation: Items_loop__2j__T .6s ease infinite;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 0;
        display: block;
        left: 0;
        opacity: 0;
        padding: calc(200% - 48px);
        position: absolute;
        top: 0;
        -webkit-transform: translate3d(-30%, -45%, 0);
        transform: translate3d(-30%, -45%, 0);
        transition: none;
        z-index: 0
    }
    
    .Items_animationLoop__PykIO:first-child {
        -webkit-animation-delay: .15s;
        animation-delay: .15s
    }
    
    .Items_animationLoop__PykIO:nth-child(2) {
        -webkit-animation-delay: .3s;
        animation-delay: .3s
    }
    
    .Items_animationLoop__PykIO:nth-child(3) {
        -webkit-animation-delay: .45s;
        animation-delay: .45s
    }
    
    .Items_animationLoop__PykIO:nth-child(4) {
        -webkit-animation-delay: .6s;
        animation-delay: .6s
    }
    
    .Items_ugc__1vzac {
  /*         height: 406px; */
        position: relative;
        z-index: 1;
        pointer-events: auto;
        padding-top: 100%;
    }
    
    @-webkit-keyframes Items_loop__2j__T {
        0% {
            opacity: 0
        }
    
        25% {
            opacity: 1
        }
    
        50% {
            opacity: 0
        }
    }
    
    @keyframes Items_loop__2j__T {
        0% {
            opacity: 0
        }
    
        25% {
            opacity: 1
        }
    
        50% {
            opacity: 0
        }
    }
    
    @media (max-width:769px) {
        .Items_ugc__1vzac {
            height: calc(100vw - 24px);
        }
    
        .Items_item__1-V1i {
            justify-content: flex-start
        }
    
        .Items_image__3KXkF {
            height: 630px;
            min-width: calc(100vw - 24px)
        }
    
        .Items_desktop__2o1Hb {
            display: none
        }
    
        .Items_mobile__2D7wC {
            display: inline-flex
        }
    }
    
    @media (max-width:480px) {
        .Items_image__3KXkF {
            height: 469px;
            min-width: calc(100vw - 24px);
            object-fit: cover
        }
    }
    
    .UGC_handlesWrap__1sUh1 {
        bottom: 12px;
        width: 100%
    }
    
    .UGC_handles__21Y_3,
    .UGC_handlesWrap__1sUh1 {
        height: 26px;
        left: 8px;
        overflow: hidden;
        position: absolute
    }
    
    .UGC_handles__21Y_3 {
        align-items: center;
        background: #202020;
        border-radius: 0 13px 13px 0;
        bottom: 0;
        display: flex;
        max-width: calc(100% - 54px);
        padding: 0 10px 0 6px;
        text-overflow: ellipsis;
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
        transition: -webkit-transform .1s ease-in-out;
        transition: transform .1s ease-in-out;
        transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
        transition-delay: 0s;
        white-space: nowrap
    }
    
    .UGC_handles__21Y_3:focus {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        transition-delay: var(--delay)
    }
    
    .UGC_handles__21Y_3 a,
    .UGC_handles__21Y_3.UGC_link__RCZel {
        color: #fff;
        text-decoration: none;
        white-space: nowrap
    }
    
    .UGC_handles__21Y_3 a:hover,
    .UGC_handles__21Y_3.UGC_link__RCZel:hover {
        text-decoration: underline
    }
    
    .UGC_product__3mbqf {
        height: 0;
        width: 0
    }
    
    .UGC_flag__N0EFH,
    .UGC_product__3mbqf {
        position: absolute
    }
    
    .UGC_flag__N0EFH {
        align-items: center;
        background: #fff;
        border-radius: 18px;
        display: flex;
        font-size: 14px;
        height: 36px;
        left: -26px;
        letter-spacing: -.653333px;
        padding: 0 0 0 14px;
        text-decoration: none;
        top: -45px;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 26px bottom;
        transform-origin: 26px bottom;
        transition: -webkit-transform .15s ease-in-out;
        transition: transform .15s ease-in-out;
        transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
        transition-delay: 0s;
        white-space: nowrap
    }
    
    .UGC_flag__N0EFH:after {
        border-color: #fff transparent transparent;
        border-style: solid;
        border-width: 16px 13px 0;
        bottom: -9px;
        content: " ";
        display: block;
        height: 0;
        left: 13px;
        position: absolute;
        width: 0
    }
    
    .UGC_flag__N0EFH:focus {
        -webkit-transform: scale(1);
        transform: scale(1);
        transition-delay: var(--delay)
    }
    
    .UGC_flag__N0EFH.UGC_lefty__3QXMo {
        left: auto;
        right: -48px;
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom
    }
    
    .UGC_flag__N0EFH.UGC_lefty__3QXMo:after {
        left: auto;
        right: 35px
    }
    
    .UGC_root__1je1R {
        background: #f1f1f1;
        left: 0;
        position: absolute;
        top: 0
    }
    
    .UGC_root__1je1R,
    .UGC_root__1je1R img {
        height: 100%;
        width: 100%
    }
    
    .UGC_root__1je1R img {
        object-fit: cover
    }
    
    .UGC_root__1je1R:focus,
    .UGC_root__1je1R:hover {
        z-index: 1
    }
    
    .UGC_root__1je1R:focus .UGC_handles__21Y_3,
    .UGC_root__1je1R:hover .UGC_handles__21Y_3 {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        transition-delay: var(--delay)
    }
    
    .UGC_root__1je1R:focus .UGC_flag__N0EFH,
    .UGC_root__1je1R:hover .UGC_flag__N0EFH {
        -webkit-transform: scale(1);
        transform: scale(1);
        transition-delay: var(--delay)
    }
    
    .sf-slider__controls .UGC_toggle__1ALo5 {
        align-items: center;
        background: #fff;
        border: 0;
        border-radius: 50%;
        bottom: 10px;
        color: #202020;
        display: none;
        height: 42px;
        justify-content: center;
        padding: 0;
        position: absolute;
        right: 10px;
        width: 42px
    }
    
    .UGC_toggle__1ALo5 svg {
        height: 14px;
        -webkit-transform-origin: center;
        transform-origin: center;
        transition: -webkit-transform .24s cubic-bezier(.455, .03, .515, .955);
        transition: transform .24s cubic-bezier(.455, .03, .515, .955);
        transition: transform .24s cubic-bezier(.455, .03, .515, .955), -webkit-transform .24s cubic-bezier(.455, .03, .515, .955);
        width: 36px
    }
    
    .UGC_toggle__1ALo5 .UGC_vertical__26ZfN {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: center;
        transform-origin: center
    }
    
    .UGC_toggle__1ALo5 .UGC_horizontal__2rxZM {
        transition: opacity .24s cubic-bezier(.455, .03, .515, .955)
    }
    
    .UGC_toggle__1ALo5.UGC_on__2QzPe {
        background: #202020;
        color: #fff
    }
    
    .UGC_toggle__1ALo5.UGC_on__2QzPe svg {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }
    
    .UGC_toggle__1ALo5.UGC_on__2QzPe svg .UGC_horizontal__2rxZM {
        opacity: 0
    }
    
    @media (max-width:960px) {
    
        .UGC_root__1je1R:focus .UGC_handles__21Y_3,
        .UGC_root__1je1R:hover .UGC_handles__21Y_3 {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%)
        }
    
        .UGC_root__1je1R:focus .UGC_flag__N0EFH,
        .UGC_root__1je1R:hover .UGC_flag__N0EFH {
            -webkit-transform: scale(0);
            transform: scale(0)
        }
    
        .UGC_root__1je1R.UGC_on__2QzPe .UGC_handles__21Y_3 {
            -webkit-transform: translateX(0);
            transform: translateX(0)
        }
    
        .UGC_root__1je1R.UGC_on__2QzPe .UGC_flag__N0EFH {
            -webkit-transform: scale(1);
            transform: scale(1);
            transition-delay: var(--delay)
        }
    
        .sf-slider__controls .UGC_toggle__1ALo5 {
            display: flex
        }
    }
    
    .HomepageHero_root__dPjNk {
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%
    }
    
    .HomepageHero_desktop__3rCO2,
    .HomepageHero_root__dPjNk {
        display: flex
    }
    
    .HomepageHero_mobile__HEw_m,
    .HomepageHero_tablet__RB9kJ {
        display: none
    }
    
    @media (max-width:960px) {
        .HomepageHero_desktop__3rCO2 {
            display: none
        }
    
        .HomepageHero_tablet__RB9kJ {
            display: flex;
            height: inherit
        }
    }
    
    @media (max-width:550px) {
        .HomepageHero_tablet__RB9kJ {
            display: none
        }
    
        .HomepageHero_mobile__HEw_m {
            display: flex;
            flex-direction: column
        }
    }
    
    .Asset_root__1a6qZ {
        height: 100%;
        position: relative
    }
    
    .Asset_root__1a6qZ,
    .Asset_wrapper__1veLj {
        margin: 0;
        width: 100%
    }
    
    .Asset_wrapper__1veLj {
        height: calc(100% - 36px);
        padding: 0
    }
    
    .Asset_image__1Gf7o,
    .Asset_video__N8uw8 {
        height: 100%;
        object-fit: cover;
        object-position: top center;
        width: 100%
    }
    
    .Asset_description__2xn7g {
        display: inline-block;
        font-family: ov-gothic, HelveticaNeue-Bold, Helvetica Neue Bold, Helvetica Neue, arial, sans-serif;
        font-size: 16px;
        margin: 6px 0;
        padding: 0
    }
    
    .Asset_square__2kPm4 .Asset_image__1Gf7o,
    .Asset_square__2kPm4 .Asset_video__N8uw8 {
        object-position: center
    }
    
    .Asset_split__h9aTG .Asset_wrapper__1veLj {
        background-color: #f1f1f1;
        display: flex;
        padding-top: 133.3333333333%;
        position: relative
    }
    
    .Asset_split__h9aTG .Asset_image__1Gf7o,
    .Asset_split__h9aTG .Asset_video__N8uw8 {
        left: 0;
        position: absolute;
        top: 0
    }
    
    .Asset_split__h9aTG .Asset_square__2kPm4 {
        padding-top: 100%
    }
    
    .Asset_portrait__1h_3p {
        padding-top: 133.3333333333%
    }
    
    .Asset_center__2JxcN {
        background-color: #f1f1f1;
        height: 0;
        left: 0;
        object-fit: cover;
        object-position: top center;
        padding-top: 56.25%;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 2
    }
    
    .Asset_center__2JxcN .Asset_image__1Gf7o,
    .Asset_center__2JxcN .Asset_imageLink__1KrEZ,
    .Asset_center__2JxcN .Asset_video__N8uw8 {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%
    }
    
    .Asset_center__2JxcN .Asset_description__2xn7g {
        padding-left: 24px;
        text-align: left;
        width: 100%
    }
    
    @media (max-width:960px) {
        .Asset_root__1a6qZ {
            max-height: inherit
        }
    
        .Asset_description__2xn7g {
            display: none
        }
    
        .Asset_video__N8uw8 {
            min-height: 300px;
            width: 100%
        }
    
        .Asset_center__2JxcN {
            overflow: hidden;
            padding-top: 100%
        }
    
        .Asset_center__2JxcN .Asset_video__N8uw8 {
            height: auto;
            min-height: 100vw
        }
    
        .Asset_portrait__1h_3p {
            padding-top: 133.3333333333%
        }
    }
    
    .Video_root__dsxK3 {
        position: relative;
        width: 100%
    }
    
    .Video_video__1kg4- {
        height: 100%;
        object-fit: cover;
        transition: -webkit-transform .6s cubic-bezier(.77, 0, .175, 1);
        transition: transform .6s cubic-bezier(.77, 0, .175, 1);
        transition: transform .6s cubic-bezier(.77, 0, .175, 1), -webkit-transform .6s cubic-bezier(.77, 0, .175, 1);
        width: 100%
    }
    
    .Video_center__2zJxT {
        align-items: center;
        background: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        left: 0;
        margin: 0;
        max-height: calc(100vh - 72px);
        position: absolute;
        right: 0;
        top: 0
    }
    
    .Video_center__2zJxT,
    .Video_title__3m1m- {
        opacity: 1;
        padding: 0
    }
    
    .Video_title__3m1m- {
        color: #fff;
        font-family: merlo, georgia, serif;
        font-size: 140px;
        letter-spacing: -4.67px;
        line-height: 1.2;
        margin: 0 0 24px;
        text-align: center;
        transition: opacity .3s ease-in-out
    }
    
    .Video_title__3m1m-.Video_videoPlaying__2tSp4 {
        opacity: 0
    }
    
    @media (max-width:960px) {
        .Video_title__3m1m- {
            font-size: 72px;
            letter-spacing: -1.6px;
            line-height: 1
        }
    }
    
    @media (max-width:666px) {
        .Video_videoFrame__3LCMj {
            height: 500px;
            width: 100%
        }
    
        .Video_videoFrame__3LCMj.Video_mobileFramed__2m9ey {
            padding: 12px
        }
    
        .Video_center__2zJxT {
            margin: 0 auto;
            width: 75%
        }
    }
    
    .Layouts_root__2S0fp {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        padding: 0 108px;
        width: 100%
    }
    
    .Layouts_root__2S0fp.Layouts_removeOuterMargins__3I8H7 {
        padding: 0
    }
    
    .Layouts_imageBottomTextTop__24uda,
    .Layouts_imageTopTextBottom__6w8pj {
        flex-direction: column
    }
    
    .Layouts_imageCenterTextCenter__3lGEC {
        padding: 0;
        text-align: center
    }
    
    @media (max-width:1420px) {
        .Layouts_root__2S0fp {
            padding: 0 72px
        }
    
        .Layouts_imageCenterTextCenter__3lGEC,
        .Layouts_root__2S0fp.Layouts_removeOuterMargins__3I8H7 {
            padding: 0
        }
    }
    
    @media (max-width:960px) {
        .Layouts_root__2S0fp {
            flex-direction: column;
            padding: 0 24px
        }
    
        .Layouts_imageCenterTextCenter__3lGEC,
        .Layouts_root__2S0fp.Layouts_removeOuterMargins__3I8H7 {
            padding: 0
        }
    }
    
    @media (max-width:550px) {
        .Layouts_root__2S0fp {
            align-items: center;
            justify-content: center;
            padding: 0;
            width: 100%
        }
    }
    
    .Heading_root__3h_Pm {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%
    }
    
    .Heading_title__3wrZl {
        font-family: merlo, georgia, serif;
        font-size: 80px;
        letter-spacing: -3.2px;
        line-height: 1;
        margin: 0
    }
    
    .Heading_subtitle__2dzSg {
        font-family: ov-gothic, HelveticaNeue-Bold, Helvetica Neue Bold, Helvetica Neue, arial, sans-serif;
        font-size: 24px;
        letter-spacing: -.3px;
        line-height: 1.29;
        margin: 24px 0 12px;
        max-width: 600px
    }
    
    .Heading_ctas__3iPGr {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 24px;
        width: 100%
    }
    
    .Heading_multiCtas__1B7Z0 {
        width: 50%
    }
    
    .Heading_multiCtas__1B7Z0 .Heading_cta__35Jjd {
        margin: 0 6px 0 0
    }
    
    .Heading_multiCtas__1B7Z0 .Heading_ctaExtra__2ABIU {
        margin: 0 0 0 6px
    }
    
    .Heading_linkHero__QAOao {
        text-decoration: none;
        z-index: 2
    }
    
    .Heading_center__1rL6_,
    .Heading_linkHero__QAOao {
        height: 100%;
        width: 100%
    }
    
    .Heading_center__1rL6_ {
        left: 0;
        margin: 0 auto;
        position: absolute;
        top: 0
    }
    
    .Heading_center__1rL6_ .Heading_ctas__3iPGr,
    .Heading_center__1rL6_ .Heading_subtitle__2dzSg,
    .Heading_center__1rL6_ .Heading_title__3wrZl {
        z-index: 2
    }
    
    .Heading_center__1rL6_ .Heading_ctas__3iPGr {
        width: 100%
    }
    
    .Heading_centerCenter__LC8rV {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center
    }
    
    .Heading_centerCenter__LC8rV .Heading_subtitle__2dzSg,
    .Heading_centerCenter__LC8rV .Heading_title__3wrZl {
        width: 65%
    }
    
    .Heading_centerCenter__LC8rV .Heading_subtitle__2dzSg {
        padding: 0 24px;
        width: 50%
    }
    
    .Heading_centerBottomLeft__9NUjR,
    .Heading_centerBottomRight__RkapF,
    .Heading_centerTopLeft__3999G,
    .Heading_centerTopRight__3CoM- {
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 60px 108px;
        text-align: left;
        width: 50%
    }
    
    .Heading_centerBottomLeft__9NUjR .Heading_ctas__3iPGr,
    .Heading_centerBottomRight__RkapF .Heading_ctas__3iPGr,
    .Heading_centerTopLeft__3999G .Heading_ctas__3iPGr,
    .Heading_centerTopRight__3CoM- .Heading_ctas__3iPGr {
        justify-content: flex-start
    }
    
    .Heading_centerBottomLeft__9NUjR,
    .Heading_centerBottomLeft1x1__3ckBJ,
    .Heading_centerBottomLeft4x3__397Nz,
    .Heading_centerBottomRight__RkapF {
        justify-content: flex-end
    }
    
    .Heading_centerBottomRight__RkapF,
    .Heading_centerTopRight__3CoM- {
        align-items: flex-start;
        left: inherit;
        right: 0;
        text-align: left
    }
    
    .Heading_leftRight__3Wxpq,
    .Heading_rightLeft__3XmfD {
        align-items: flex-start;
        max-width: 50%;
        text-align: left
    }
    
    .Heading_leftRight__3Wxpq .Heading_ctas__3iPGr,
    .Heading_rightLeft__3XmfD .Heading_ctas__3iPGr {
        justify-content: flex-start;
        width: 100%
    }
    
    .Heading_rightLeft__3XmfD {
        margin-right: 48px;
        padding-right: 24px
    }
    
    .Heading_leftRight__3Wxpq {
        margin-left: 48px;
        padding-left: 24px
    }
    
    .Heading_bottomTop__2OWDO,
    .Heading_bottomTop1x1__1n1uW,
    .Heading_topBottom__1s-l_,
    .Heading_topBottom1x1__3cTlJ {
        align-items: center;
        margin: 24px auto
    }
    
    .Heading_sticky__2b3l1 {
        bottom: 108px;
        display: inline-flex;
        flex-direction: column;
        padding: 0;
        position: -webkit-sticky;
        position: sticky;
        width: 100%;
        z-index: 2
    }
    
    @media (max-width:1420px) {
        .Heading_centerCenter__LC8rV .Heading_title__3wrZl {
            width: 70%
        }
    
        .Heading_centerCenter__LC8rV .Heading_subtitle__2dzSg {
            width: 60%
        }
    
        .Heading_centerBottomLeft__9NUjR,
        .Heading_centerBottomRight__RkapF,
        .Heading_centerTopLeft__3999G,
        .Heading_centerTopRight__3CoM- {
            padding: 48px 72px;
            width: 60%
        }
    
        .Heading_centerBottomRight__RkapF,
        .Heading_centerTopRight__3CoM- {
            width: calc(50% + 72px)
        }
    
        .Heading_sticky__2b3l1 {
            bottom: 72px;
            margin: 0;
            padding: 0;
            width: 100%
        }
    }
    
    @media (max-width:960px) {
        .Heading_title__3wrZl {
            font-size: 60px;
            letter-spacing: -2.4px;
            line-height: 1.07
        }
    
        .Heading_subtitle__2dzSg {
            font-size: 16px;
            letter-spacing: normal;
            line-height: 1.5;
            margin: 16px auto 0
        }
    
        .Heading_multiCtas__1B7Z0 {
            margin: 24px auto 0;
            width: 100%
        }
    
        .Heading_multiCtas__1B7Z0 .Heading_cta__35Jjd {
            flex: 1 1;
            min-width: inherit !important;
            width: 100%
        }
    
        .Heading_center__1rL6_ {
            padding: 48px 24px
        }
    
        .Heading_centerCenter__LC8rV {
            width: 100%
        }
    
        .Heading_centerCenter__LC8rV .Heading_subtitle__2dzSg {
            text-align: center
        }
    
        .Heading_centerBottomLeft__9NUjR,
        .Heading_centerBottomRight__RkapF,
        .Heading_centerTopLeft__3999G,
        .Heading_centerTopRight__3CoM- {
            width: 75%
        }
    
        .Heading_centerBottomLeft__9NUjR .Heading_subtitle__2dzSg,
        .Heading_centerBottomRight__RkapF .Heading_subtitle__2dzSg,
        .Heading_centerTopLeft__3999G .Heading_subtitle__2dzSg,
        .Heading_centerTopRight__3CoM- .Heading_subtitle__2dzSg {
            margin-left: 0;
            width: 90%
        }
    
        .Heading_centerBottomRight__RkapF .Heading_subtitle__2dzSg,
        .Heading_centerTopRight__3CoM- .Heading_subtitle__2dzSg {
            margin-right: 0
        }
    
        .Heading_sticky__2b3l1 {
            padding: 0;
            position: static;
            width: 100%
        }
    
        .Heading_leftRight__3Wxpq,
        .Heading_rightLeft__3XmfD {
            max-width: 100%
        }
    
        .Heading_leftRight__3Wxpq,
        .Heading_topBottom__1s-l_,
        .Heading_topBottom1x1__3cTlJ {
            align-items: center;
            margin: 36px 0 0;
            padding: 0 12px;
            text-align: center
        }
    
        .Heading_bottomTop__2OWDO,
        .Heading_bottomTop1x1__1n1uW,
        .Heading_rightLeft__3XmfD {
            align-items: center;
            margin: 0 0 36px;
            padding: 0 12px;
            text-align: center
        }
    
        .Heading_overlayLeft__bLj4G {
            padding: 24px 48px
        }
    
        .Heading_overlayLeft__bLj4G .Heading_ctas__3iPGr,
        .Heading_overlayLeft__bLj4G .Heading_subtitle__2dzSg,
        .Heading_overlayLeft__bLj4G .Heading_title__3wrZl {
            display: flex;
            justify-content: flex-start;
            margin-left: 0;
            margin-right: 0;
            text-align: left;
            width: 100%
        }
    }
    
    @media (max-width:550px) {
        .Heading_root__3h_Pm {
            height: auto
        }
    
        .Heading_title__3wrZl {
            font-size: 36px;
            letter-spacing: -1.6px;
            line-height: 1.08
        }
    
        .Heading_subtitle__2dzSg {
            font-size: 13px;
            line-height: 1.54
        }
    
        .Heading_multiCtas__1B7Z0 {
            flex-direction: column
        }
    
        .Heading_multiCtas__1B7Z0 .Heading_cta__35Jjd {
            flex: none;
            margin: 0 0 12px;
            width: inherit
        }
    
        .Heading_center__1rL6_,
        .Heading_multiCtas__1B7Z0 .Heading_ctaExtra__2ABIU {
            margin: 0
        }
    
        .Heading_center__1rL6_ {
            height: 100%;
            padding: 24px 12px
        }
    
        .Heading_center__1rL6_ .Heading_subtitle__2dzSg,
        .Heading_center__1rL6_ .Heading_title__3wrZl {
            margin: 0 auto;
            text-align: center;
            width: 80%
        }
    
        .Heading_center__1rL6_ .Heading_subtitle__2dzSg {
            margin: 6px auto 0;
            padding: 0 12px
        }
    
        .Heading_centerBottomLeft__9NUjR,
        .Heading_centerBottomRight__RkapF,
        .Heading_centerTopLeft__3999G,
        .Heading_centerTopRight__3CoM- {
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%
        }
    
        .Heading_sticky__2b3l1 {
            padding: 0;
            width: 100%
        }
    
        .Heading_bottomTop__2OWDO,
        .Heading_bottomTop1x1__1n1uW,
        .Heading_leftRight__3Wxpq,
        .Heading_rightLeft__3XmfD,
        .Heading_topBottom__1s-l_,
        .Heading_topBottom1x1__3cTlJ {
            padding: 0 12px
        }
    
        .Heading_bottomTop__2OWDO .Heading_subtitle__2dzSg,
        .Heading_bottomTop__2OWDO .Heading_title__3wrZl,
        .Heading_bottomTop1x1__1n1uW .Heading_subtitle__2dzSg,
        .Heading_bottomTop1x1__1n1uW .Heading_title__3wrZl,
        .Heading_leftRight__3Wxpq .Heading_subtitle__2dzSg,
        .Heading_leftRight__3Wxpq .Heading_title__3wrZl,
        .Heading_rightLeft__3XmfD .Heading_subtitle__2dzSg,
        .Heading_rightLeft__3XmfD .Heading_title__3wrZl,
        .Heading_topBottom__1s-l_ .Heading_subtitle__2dzSg,
        .Heading_topBottom__1s-l_ .Heading_title__3wrZl,
        .Heading_topBottom1x1__3cTlJ .Heading_subtitle__2dzSg,
        .Heading_topBottom1x1__3cTlJ .Heading_title__3wrZl {
            text-align: center
        }
    
        .Heading_leftRight__3Wxpq,
        .Heading_topBottom__1s-l_,
        .Heading_topBottom1x1__3cTlJ {
            margin: 12px 0 0
        }
    
        .Heading_bottomTop__2OWDO,
        .Heading_bottomTop1x1__1n1uW,
        .Heading_rightLeft__3XmfD {
            margin: 0 0 12px
        }
    
        .Heading_overlayLeft__bLj4G {
            padding: 24px
        }
    
        .Heading_overlayLeft__bLj4G .Heading_ctas__3iPGr,
        .Heading_overlayLeft__bLj4G .Heading_subtitle__2dzSg,
        .Heading_overlayLeft__bLj4G .Heading_title__3wrZl {
            margin-left: 0;
            margin-right: 0;
            padding: 0;
            text-align: left;
            width: 100%
        }
    }
    
    .HomepageFeature_root__umM5S {
        align-items: center;
        display: flex;
        height: 0;
        padding-top: 32.4275362319%;
        position: relative;
        width: 100%
    }
    
    .HomepageFeature_imageWrap__2j45P {
        margin: 0
    }
    
    .HomepageFeature_image__2lRu0,
    .HomepageFeature_imageWrap__2j45P {
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%
    }
    
    .HomepageFeature_image__2lRu0 {
        left: 0;
        object-fit: cover;
        object-position: top
    }
    
    .HomepageFeature_header__ZgN16 {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        max-width: 600px;
        top: 0;
        width: 45%;
        z-index: 1
    }
    
    .HomepageFeature_header__ZgN16.HomepageFeature_left__12F-Y {
        margin: 0 130px;
        padding: 34px 0 0;
        position: absolute;
        right: 0
    }
    
    .HomepageFeature_header__ZgN16.HomepageFeature_left__12F-Y+.HomepageFeature_image__2lRu0 {
        object-position: left
    }
    
    .HomepageFeature_header__ZgN16.HomepageFeature_right__1s4yi {
        margin: 0 108px;
        padding: 82px 0;
        position: relative
    }
    
    .HomepageFeature_title__2iOEQ {
        font-family: merlo, georgia, serif;
        font-size: 80px;
        letter-spacing: -3.2px;
        line-height: 1;
        margin: 0 0 46px
    }
    
    .HomepageFeature_subtitle__1p2aM {
        font-family: ov-gothic, HelveticaNeue-Bold, Helvetica Neue Bold, Helvetica Neue, arial, sans-serif;
        font-size: 16px;
        margin: -24px 0 24px
    }
    
    .HomepageFeature_cta__1pspD {
        display: block;
        margin: 0
    }
    
    .HomepageFeature_desktop__1z7yp {
        display: flex
    }
    
    .HomepageFeature_mobile__1EBWL,
    .HomepageFeature_tablet__37NoU {
        display: none
    }
    
    @media (max-width:1420px) {
        .HomepageFeature_root__umM5S {
            padding-top: 38.3098591549%
        }
    
        .HomepageFeature_header__ZgN16 {
            margin: 0 72px;
            padding-bottom: 0;
            padding-top: 34px;
            width: 55%
        }
    }
    
    @media (max-width:960px) {
        .HomepageFeature_root__umM5S {
            padding-top: 75%
        }
    
        .HomepageFeature_header__ZgN16 {
            justify-content: flex-end;
            width: 100%
        }
    
        .HomepageFeature_header__ZgN16,
        .HomepageFeature_header__ZgN16.HomepageFeature_right__1s4yi {
            margin: 0;
            padding: 72px 24px
        }
    
        .HomepageFeature_title__2iOEQ {
            font-size: 60px;
            letter-spacing: -2.4px;
            line-height: 1.07;
            margin-bottom: 34px
        }
    
        .HomepageFeature_desktop__1z7yp {
            display: none
        }
    
        .HomepageFeature_tablet__37NoU {
            display: block
        }
    }
    
    @media (max-width:550px) {
        .HomepageFeature_root__umM5S {
            padding-top: 100%
        }
    
        .HomepageFeature_header__ZgN16 {
            font-size: 36px
        }
    
        .HomepageFeature_header__ZgN16,
        .HomepageFeature_header__ZgN16.HomepageFeature_right__1s4yi {
            padding: 48px 24px
        }
    
        .HomepageFeature_title__2iOEQ {
            font-size: 36px;
            letter-spacing: -1.6px;
            line-height: 1.08;
            max-width: 70%
        }
    
        .HomepageFeature_cta__1pspD {
            margin-bottom: 0
        }
    
        .HomepageFeature_tablet__37NoU {
            display: none
        }
    
        .HomepageFeature_mobile__1EBWL {
            display: flex;
            flex-direction: column
        }
    }
    
    @media (max-width:340px) {
        .HomepageFeature_title__2iOEQ {
            max-width: 90%
        }
    }
    
    .HomepageMissionStatement_root__22fvZ {
        display: flex;
        flex-direction: column;
        padding: 0 108px
    }
    
    .HomepageMissionStatement_blurb__3Wotw {
        font-family: merlo, georgia, serif;
        width: 70%
    }
    
    .HomepageMissionStatement_blurb__3Wotw,
    .HomepageMissionStatement_doing-things-sticker__3JLUw {
        color: #202020;
        font-size: 80px;
        letter-spacing: -3.5px;
        line-height: 88px
    }
    
    .HomepageMissionStatement_doing-things-sticker__3JLUw {
        cursor: default;
        display: inline;
        font-family: ov-gothic, HelveticaNeue-Bold, Helvetica Neue Bold, Helvetica Neue, arial, sans-serif;
        overflow: visible;
        position: relative;
        white-space: nowrap
    }
    
    .HomepageMissionStatement_doing-things-sticker__3JLUw:after {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: auto;
        content: "";
        display: block;
        height: auto;
        left: 50%;
        opacity: 0;
        overflow: visible;
        padding-top: 60%;
        pointer-events: none;
        position: absolute;
        right: auto;
        top: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0) scale(.9) rotate(9deg);
        transform: translate3d(-50%, -50%, 0) scale(.9) rotate(9deg);
        transition: opacity .2s linear, -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out, opacity .2s linear;
        transition: transform .2s ease-in-out, opacity .2s linear, -webkit-transform .2s ease-in-out;
        width: 110%
    }
    
    .HomepageMissionStatement_doing-things-sticker__3JLUw:hover:after {
        opacity: 1;
        -webkit-transform: translate3d(-50%, -50%, 0) scale(1) rotate(9deg);
        transform: translate3d(-50%, -50%, 0) scale(1) rotate(9deg)
    }
    
    .HomepageMissionStatement_cta__3nESl {
        color: #202020;
        font-family: ov-gothic, HelveticaNeue-Bold, Helvetica Neue Bold, Helvetica Neue, arial, sans-serif;
        font-size: 16px;
        margin: 12px 0 0;
        text-decoration: none;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content
    }
    
    .HomepageMissionStatement_cta__3nESl svg {
        fill: #202020;
        height: 36px;
        width: 36px
    }
    
    .HomepageMissionStatement_cta__3nESl:hover {
        color: #000f9f
    }
    
    .HomepageMissionStatement_cta__3nESl:hover svg {
        fill: #000f9f
    }
    
    .HomepageMissionStatement_doing-things-sticker__3JLUw:after {
        background-image: url('data:image/svg+xml;charset=utf-8,<svg width="588" height="288" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="%230426A4" d="M0 127.097 550.52 0l37.116 160.771-550.52 127.097z"/><path d="m69.973 202.517 2.08 9.006 9.006-2.079-2.08-9.006-9.006 2.08zm4.91-19.826 9.005-2.08 2.018 8.742 8.741-2.018 2.08 9.006-8.742 2.018 2.08 9.006 8.74-2.018 2.08 9.006-8.741 2.018 1.997 8.653-9.006 2.08-1.997-8.654-9.006 2.08 1.997 8.652-9.006 2.08-1.997-8.653-8.742 2.018-2.079-9.006 8.741-2.018-2.079-9.006-8.74 2.018-2.08-9.006 8.741-2.018-2.018-8.742 9.006-2.079 2.018 8.741 9.006-2.079-2.018-8.741zm34.004-22.545 11.008 47.68 4.503-1.04c4.68-1.08 8.286-2.378 10.975-4.022 2.866-1.685 5.148-3.886 7.023-6.644 3.905-5.644 5.031-12.042 3.34-19.37-1.692-7.33-5.53-12.674-11.426-16.056-5.353-3.042-12.355-3.565-20.92-1.587l-4.503 1.04zm16.986 56.25-13.863 3.2-15.37-66.574 14.04-3.24c6.357-1.468 11.817-1.985 16.273-1.619 4.544.346 8.85 1.677 12.898 3.904 8.246 4.7 13.606 12.205 15.95 22.358 2.385 10.33.75 19.358-4.955 27.278-2.887 4.014-6.174 7.098-9.773 9.231-3.512 2.113-8.578 3.933-15.2 5.462zm46.046-32.672c1.732 7.506 7.886 12.409 15.833 10.574 7.946-1.834 11.416-8.96 9.684-16.465-1.733-7.505-7.975-12.388-15.922-10.553-7.946 1.835-11.328 8.94-9.595 16.444zm-9.625 2.222c-2.853-12.36 4.664-24.513 17.202-27.407 12.538-2.895 24.71 4.711 27.564 17.072 2.854 12.362-4.773 24.445-17.31 27.34-12.538 2.895-24.602-4.643-27.456-17.005zm40.428-49.51c-.856-3.708 1.385-7.294 5.094-8.15 3.708-.857 7.294 1.385 8.15 5.093.857 3.708-1.384 7.295-5.093 8.15-3.708.857-7.295-1.384-8.15-5.092zm5.7 16.634 9.713-2.243 9.703 42.029-9.713 2.242-9.703-42.028zm27.416 37.939-9.703-42.029 9.8-2.262 1.02 4.414c2.2-4.971 5.868-7.213 10.194-8.212 4.856-1.121 9-.497 12.45 1.962 2.975 2.01 5.122 6.071 6.488 11.987l5.952 25.782-9.712 2.242-5.871-25.429c-1.203-5.209-4.817-8.374-10.114-7.15-6.093 1.406-7.613 6.5-6.288 12.24l5.585 24.192-9.8 2.263zM306.73 152.6c-1.875-8.123-7.798-12.429-14.862-10.798-3.708.856-6.316 2.853-7.803 6.08-1.351 3.009-1.589 6.411-.712 10.208.897 3.885 2.581 6.751 5.074 8.687 2.751 2.248 5.97 2.9 9.679 2.043 3.708-.856 6.316-2.853 7.803-6.08 1.48-2.852 1.718-6.255.821-10.14zm4.4-23.243 7.684 33.287c.918 3.974 2.012 9.115 1.985 11.818a20.239 20.239 0 0 1-2.085 9.502c-2.444 5.122-7.45 8.417-14.16 9.966-5.65 1.304-11.085.327-13.109-.787l-2.507-10.86c4.972 3.409 9.985 3.368 13.516 2.552 6.8-1.57 9.563-7.322 8.156-13.415l-.57-2.472c-2.88 4.85-6.846 7.812-11.879 8.973-5.739 1.325-10.887.375-15.554-2.919-4.578-3.314-7.655-8.183-9.123-14.54-1.447-6.27-.972-11.866 1.513-16.811 2.58-5.339 6.907-8.756 13-10.162 5.385-1.244 10.16-.3 14.52 2.878l-1.1-4.768 9.712-2.242zm35.28-24.048-16.688 3.853 13.188 57.126-9.977 2.304-13.189-57.127-16.687 3.853-2.181-9.448 43.352-10.008 2.181 9.447zm17.215 56.197-15.37-66.574 9.713-2.242 6.584 28.519c2.214-4.51 6.146-6.813 10.296-7.771 4.68-1.08 8.823-.456 12.362 1.982 3.104 2.166 5.339 6.207 6.664 11.946l5.952 25.782-9.712 2.243-5.729-24.811c-1.549-6.71-4.959-8.992-9.815-7.871-7.328 1.692-7.857 7.859-6.023 15.805l4.79 20.75-9.712 2.242zm28.357-68.764c-.856-3.709 1.385-7.295 5.093-8.151 3.708-.856 7.295 1.385 8.15 5.093.857 3.709-1.384 7.295-5.092 8.151-3.709.856-7.295-1.385-8.151-5.093zm5.7 16.633 9.712-2.242 9.703 42.028-9.712 2.242-9.703-42.028zm27.416 37.939-9.703-42.028 9.8-2.263 1.02 4.415c2.2-4.972 5.867-7.214 10.194-8.213 4.856-1.12 8.999-.496 12.45 1.962 2.975 2.01 5.121 6.072 6.487 11.987l5.952 25.782-9.712 2.243-5.87-25.43c-1.203-5.209-4.817-8.373-10.115-7.15-6.092 1.406-7.613 6.5-6.288 12.24l5.585 24.192-9.8 2.263zm70.89-38.408c-1.875-8.123-7.798-12.428-14.861-10.798-3.709.856-6.317 2.854-7.804 6.08-1.351 3.009-1.588 6.412-.712 10.208.897 3.885 2.582 6.751 5.075 8.687 2.75 2.248 5.97 2.9 9.678 2.043 3.709-.856 6.317-2.853 7.804-6.08 1.48-2.852 1.718-6.255.82-10.14zm4.4-23.243 7.685 33.288c.917 3.973 2.011 9.114 1.984 11.817a20.239 20.239 0 0 1-2.084 9.503c-2.445 5.121-7.45 8.416-14.16 9.965-5.651 1.305-11.085.327-13.11-.787l-2.507-10.86c4.973 3.41 9.985 3.368 13.517 2.553 6.799-1.57 9.562-7.323 8.156-13.415l-.571-2.473c-2.88 4.85-6.846 7.812-11.878 8.974-5.74 1.325-10.888.374-15.554-2.92-4.579-3.313-7.656-8.183-9.124-14.54-1.447-6.27-.972-11.866 1.514-16.81 2.58-5.34 6.906-8.756 12.999-10.163 5.386-1.243 10.16-.3 14.521 2.879l-1.1-4.768 9.712-2.243zm33.032-5.394 2.324 10.066c-4.368-2.805-8.34-3.096-11.608-2.342-3.002.693-5.25 2.235-4.7 4.619.55 2.384 2.63 2.927 6.813 3.728 8.742 1.609 14.325 2.83 16.058 10.336 1.916 8.3-2.478 15.452-11.484 17.531-6.799 1.57-11.112.613-14.882-1.214l-2.69-11.655c4.483 3.708 9.862 5.256 13.747 4.36 4.503-1.04 6.337-2.766 5.644-5.768-.408-1.766-1.678-3.24-4.918-3.98l-6.568-1.46c-5.78-1.269-9.434-3.401-10.739-9.052-1.896-8.211 3.177-14.033 10.77-15.786 6.005-1.386 9.442-.598 12.233.617z" fill="%23FFF"/></g></svg>')
    }
    
    @media (max-width:1420px) {
        .HomepageMissionStatement_root__22fvZ {
            padding: 0 72px
        }
    
        .HomepageMissionStatement_blurb__3Wotw {
            width: 80%
        }
    }
    
    @media (max-width:960px) {
        .HomepageMissionStatement_root__22fvZ {
            padding: 0 24px
        }
    
        .HomepageMissionStatement_blurb__3Wotw {
            width: 90%
        }
    
        .HomepageMissionStatement_blurb__3Wotw,
        .HomepageMissionStatement_doing-things-sticker__3JLUw {
            font-size: 60px;
            letter-spacing: -2.62px;
            line-height: 64px
        }
    }
    
    @media (max-width:480px) {
        .HomepageMissionStatement_root__22fvZ {
            padding: 0 12px
        }
    
        .HomepageMissionStatement_blurb__3Wotw {
            width: 100%
        }
    
        .HomepageMissionStatement_blurb__3Wotw,
        .HomepageMissionStatement_doing-things-sticker__3JLUw {
            font-size: 36px;
            letter-spacing: -1.6px;
            line-height: 39px
        }
    }
    
    .HomepageShopBlocks_root__1KYGU {
        width: 100%
    }
    
    .HomepageShopBlocks_title__1h-Am {
        color: #202020;
        font-family: merlo, georgia, serif;
        font-size: 80px;
        letter-spacing: -3.4px;
        margin: 0 0 18px;
        padding: 0 108px
    }
    
    .HomepageShopBlocks_blockTitle__2vLzm {
        color: #fff;
        margin: 0;
        padding: 0;
        text-align: center;
        z-index: 3
    }
    
    .HomepageShopBlocks_image__1mXMm {
        bottom: 0;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
        transition: opacity .1s ease-in-out, -webkit-transform 1s ease-in-out !important;
        transition: opacity .1s ease-in-out, transform 1s ease-in-out !important;
        transition: opacity .1s ease-in-out, transform 1s ease-in-out, -webkit-transform 1s ease-in-out !important;
        width: 100%;
        z-index: 2
    }
    
    .HomepageShopBlocks_blocks__d8q-7 {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        width: 100%
    }
    
    .HomepageShopBlocks_block__CiV9I,
    .HomepageShopBlocks_blocks__d8q-7 {
        position: relative
    }
    
    .HomepageShopBlocks_block__CiV9I {
        margin: 0;
        padding: calc(50% - 1.5px) 0 0;
        width: calc(50% - 1.5px)
    }
    
    .HomepageShopBlocks_blockInner__GXaey {
        align-items: center;
        background-color: #f1f1f1;
        display: flex;
        height: 100%;
        justify-content: center;
        overflow: hidden;
        text-decoration: none;
        width: 100%
    }
    
    .HomepageShopBlocks_blockInner__GXaey,
    .HomepageShopBlocks_blockInner__GXaey:after {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0
    }
    
    .HomepageShopBlocks_blockInner__GXaey:after {
        background: rgba(0, 0, 0, .1);
        content: "";
        opacity: 0;
        transition: opacity .4s ease-in-out;
        z-index: 2
    }
    
    .HomepageShopBlocks_blockInner__GXaey:hover:after {
        opacity: 1
    }
    
    .HomepageShopBlocks_blockInner__GXaey:hover .HomepageShopBlocks_image__1mXMm {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    
    .HomepageShopBlocks_root__1KYGU.HomepageShopBlocks_removeOuterMargins__3x0cN .HomepageShopBlocks_title__1h-Am {
        padding: 0
    }
    
    @media (max-width:1420px) {
        .HomepageShopBlocks_title__1h-Am {
            padding: 0 72px
        }
    
        .HomepageShopBlocks_root__1KYGU.HomepageShopBlocks_removeOuterMargins__3x0cN .HomepageShopBlocks_title__1h-Am {
            padding: 0
        }
    }
    
    @media (max-width:960px) {
        .HomepageShopBlocks_title__1h-Am {
            font-size: 60px;
            letter-spacing: -2.55px;
            line-height: 1.07;
            padding: 0 24px
        }
    
        .HomepageShopBlocks_root__1KYGU.HomepageShopBlocks_removeOuterMargins__3x0cN .HomepageShopBlocks_title__1h-Am {
            padding: 0
        }
    }
    
    @media (max-width:767px) {
        .HomepageShopBlocks_blockTitle__2vLzm {
            font-size: 48px
        }
    }
    
    @media (max-width:550px) {
        .HomepageShopBlocks_title__1h-Am {
            font-size: 36px;
            letter-spacing: -1.6px;
            line-height: 1.08;
            margin-bottom: 16px;
            padding: 0 12px
        }
    
        .HomepageShopBlocks_root__1KYGU.HomepageShopBlocks_removeOuterMargins__3x0cN .HomepageShopBlocks_title__1h-Am {
            padding: 0
        }
    
        .HomepageShopBlocks_blocks__d8q-7 {
            flex-wrap: wrap;
            height: auto;
            justify-content: flex-start
        }
    
        .HomepageShopBlocks_block__CiV9I {
            margin-top: 3px;
            padding: 100% 0 0;
            width: 100%
        }
    
        .HomepageShopBlocks_block__CiV9I:first-child {
            margin-top: 0
        }
    
        .HomepageShopBlocks_blockInner__GXaey:after {
            display: none
        }
    
        .HomepageShopBlocks_blockInner__GXaey:hover .HomepageShopBlocks_image__1mXMm {
            -webkit-transform: scale(1);
            transform: scale(1)
        }
    }
    
    .Homepage_fetching__3B1fv {
        align-items: center;
        display: flex;
        height: calc(100vh - 72px);
        justify-content: center
    }
    
    .Homepage_errorRoot__h-2BW {
        margin: 0 auto;
        max-width: 1656px;
        padding-left: 108px;
        padding-right: 108px
    }
    
    .Homepage_list__2sTgI {
        margin: 0;
        padding: 0
    }
    
    .Homepage_listItem__3Hc02 {
        list-style-type: none;
        margin: 0 0 84px
    }
    
    .Homepage_listItem__3Hc02:last-child {
        margin-bottom: 0
    }
    
    @media (max-width:1420px) {
        .Homepage_errorRoot__h-2BW {
            padding-left: 78px;
            padding-right: 78px
        }
    }
    
    @media (max-width:960px) {
        .Homepage_errorRoot__h-2BW {
            padding-left: 24px;
            padding-right: 24px
        }
    }
    @media only screen and (min-width: 1250.1px){
      .large--hide {
          display: none!important;
      }
    }
    @media only screen and (max-width: 1250px) and (min-width: 769.1px){
      .medium--hide {
          display: none!important;
      }
    }
    @media only screen and (max-width: 769px){
      .small--hide {
          display: none!important;
      }
    }
  
    
    @media (max-width:550px) {
        .Homepage_errorRoot__h-2BW {
            padding-left: 12px;
            padding-right: 12px
        }
    
        .Homepage_listItem__3Hc02 {
            margin-bottom: 60px
        }
    }
    
  
  .inter-wall{position: relative;}
  .inter-wall-pad{
      padding-top:40px
      }
  @media (max-width:769px) {
      .inter-wall-pad{
      padding-top:40px;
      }
      .HomepageCarousel_root__1p5ID{
      overflow:auto
      }
      .inter-wall .swiper-wrapper{
          left: -18px !important;
      }
      
  }
      @media (min-width:768px) {
      .inter-wall-pad{
      padding-top:80px
      }
  }
  .sf-slider__controls button{background-color: #ebebeb;background-image: none;}
  
  </style>
    <div id="section-{{ section.id }}" class="{% unless section.settings.show_on_desktop %} medium--hide large--hide{% endunless %} {{ section.settings.section_style }}{% unless section.settings.show_on_mobile %} small--hide{% endunless %}" data-section-id="{{ section.id }}" data-section-type="custom-inter-wall-section">
       <div  class="inter-wall-pad">
                        <header class="HomepageCarousel_header__18LIm wrapper">
                            <h3 class="HomepageCarousel_title__3MTTN">@thesupermade</h3>
                          <a class="ButtonLink_root__3shu0 Button_root__3ros1 HomepageCarousel_desktop__3ga8d Button_big__OK2JF ButtonLink_big__212Yr Button_medium__3BKp8"
                              target="_blank"  href="/pages/on-the-grid">Shop the look</a>
                        </header>
                        <div class="swiper-container inter-wall sf-slider__controls" style="overflow: hidden;">
                            <div class="swiper-wrapper">
  
                        <!--  -->
  
  
  
  
                            
                        <!--  -->
  
  
  
                                
                            </div>
                            <button class="sf-slider__controls-button swiper-button-prev sf-slider__controls-prev border sm:hover:border-black rounded-full cursor-pointer mx-2 ">
                              <svg width="14px" height="14px" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z"></path></svg>
                          </button>
                          <button class="sf-slider__controls-button swiper-button-next sf-slider__controls-next border sm:hover:border-black rounded-full cursor-pointer mx-2 ">
                              <svg fill="currentColor" width="14px" height="14px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M218.101 38.101L198.302 57.9c-4.686 4.686-4.686 12.284 0 16.971L353.432 230H12c-6.627 0-12 5.373-12 12v28c0 6.627 5.373 12 12 12h341.432l-155.13 155.13c-4.686 4.686-4.686 12.284 0 16.971l19.799 19.799c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L235.071 38.101c-4.686-4.687-12.284-4.687-16.97 0z"></path></svg>
                          </button>
                  
                        </div>
                    </section>
                    </div>
        </div>
      </div>
    {% schema %}
      {
        "name": "Custom Inter Wall",
      "class": "custom-inter-wall-section",
      "settings": [
             {
            "type": "checkbox",
            "id": "show_on_desktop",
            "label": "Show on desktop",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "show_on_mobile",
            "label": "Show on mobile",
            "default": false
          }
        ],
        "presets": [
          {
            "name": "Custom Inter Wall",
            "category": "Advanced layout"
          }
        ]
      }
    {% endschema %}
    
    {% stylesheet %}
    
    {% endstylesheet %}
  
  <script type="text/javascript">
  document.addEventListener('StartAsyncLoading',function(event){
        $(function(){
          if($('#InsWallData').find('.item').length>0){
            $('#InsWallData').find('.item').each(function(){
              let itemHtml = $(this).html();
              $('.inter-wall-pad').find('.swiper-wrapper').prepend('<div class="swiper-slide">'+itemHtml+'</div>');
            })
          }
          var mySwiper = new Swiper ('.inter-wall', {
              speed: 500,
              observer: true,
              slidesPerView:5,
              spaceBetween: 10,            
              breakpoints: { 
                  768: {
                      slidesPerView: 1,
                      spaceBetween: 10
                  },
              },
              prevButton:'.swiper-button-prev',
              nextButton:'.swiper-button-next',
              
    
        }) ;
         $(".UGC_toggle__1ALo5").on('click',function(){
           if($(this).hasClass("UGC_on__2QzPe")){
              $(this).removeClass("UGC_on__2QzPe");
           }else{
              $(this).addClass('UGC_on__2QzPe');
           }
           $(this).parent(".UGC_root__1je1R").hasClass("UGC_on__2QzPe")?$(this).parent(".UGC_root__1je1R").removeClass("UGC_on__2QzPe"):$(this).parent(".UGC_root__1je1R").addClass("UGC_on__2QzPe");
          })
        })
        });     
  </script>  
     
        
  