<style><!--
  html, body{width: 100%;overflow-x:hidden;}
  .section-header{display: none;}
  .page-header{display: none;}
  #overlay{
      width:100%;
      height:100%;
      background-color: rgba(0,0,0,.4);
      position: fixed;
      top: 0;
      left: 0;
  }
  
  #mes{
      position: fixed;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      background-color: #fff;
      border: 1px solid #eee;
      border-radius: 5px;
      padding:50px 25px;
      text-align: center;
      min-width: 320px;
  }
  #mes p{
      margin-bottom:0;
      font-size: 16px;
      line-height:26px;
  
  }
  #mes h3{font-size: 20px;text-transform: capitalize;}
  #mes .success{
      color:#000;
  }
  #mes .success:before{
      content:'';
      width:16px;
      height:16px;
      display:inline-block;
      background-size:100%;
      background-image: url(http://orderplus-cloud.oss-cn-hongkong.aliyuncs.com/orderPlus/61429737ac3647a59b25e8ba3f1eb70b.svg);
      position: relative;
      top: 2px;
      margin-right: 5px;
  }
  #mes .error{
      color:#f56c6c
  }
  .hide{
      display:none;
  }


  .contactUsPage{
    max-width: 800px;
    background-color: #edece7;
    padding-bottom: 1px;
    margin: 0 auto;
  }  
  .customPage a {
    color: #398dc6;
    text-decoration: underline;
  }
  .customPage img{width: 100%; height: auto; border-radius: 0;}
  .contactUsPage .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .contactUsPage .c-u-flex {
    display: flex;
    margin: 35px auto;
  }
  .contactUsPage .c-u-flex>div {
    flex: 1;
  }
  .contactUsPage .c-u-box {
    max-width: 360px;
    margin: 0;
    font-family: Avenir-Roman;
  }
  .contactUsPage h4, .contactUsPage .h4 {
      font-size: 22px;
      text-align: center;
      font-family: Avenir-Black;
      text-transform: uppercase;
  }
  .contactUsPage .c-u-item {
    border: 1px solid #000;
    padding: 32px 0;
    text-align: center;
    border-radius: 4px;
    margin: 20px 0 30px;
  }
  .contactUsPage .c-u-t {
    display: block;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactUsPage a {
    text-decoration: none;
    font-weight: 700;
  }
  .contactUsPage .c-u-t img {
    width: 25px;
    margin-right: 5px;
  }
  .contactUsPage .c-content {
    line-height: 20px;
  }
  .contactUsPage .c-u-box ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }
  .contactUsPage .c-u-box ul li {
    margin-right: 30px;
  }
  .contactUsPage .c-u-box ul li img{width: 35px;}



  @media screen and (max-width: 789px){
    /*.c-u-left{margin-top: 40px;}*/
    .c-u-flex {
      flex-flow: column-reverse;
    }
    .contactUsPage .c-u-t{font-size: 16px;}
  }

  
--></style>
<div class="customPage contactUsPage"><picture> <source media="(min-width:768px)" srcset="https://cdn.shopify.com/s/files/1/0610/7208/1122/files/20220921-171731.jpg?v=1664158030" /> <img src="https://cdn.shopify.com/s/files/1/0610/7208/1122/files/20220921-171731.jpg?v=1664158030" alt="" /></picture>
<div class="container">
<div class="c-u-flex">
<div class="c-u-left">
<div class="c-u-box">
<h4>Call Us</h4>
<div class="c-u-item"><a class="c-u-t" style="margin-bottom: 35px;" href="tel://(833)959-4029"><img src="https://cdn.shopify.com/s/files/1/0598/7955/5231/files/6dd2684e9fc47724bf769e441cbdb5fd.png?v=1642674838" alt="" /></a><meta charset="utf-8" /><a class="c-u-t" style="margin-bottom: 35px;" href="tel://+1%20(833)%20773%201516">
<div data-page-id="doxcnHNGhfNdBOMPmw2Qe2uRySS" data-docx-has-block-data="false">
<div class=" old-record-id-doxcn0gsQm6AUowmQIHK3iK1JJe">+1 833-959-4029</div>
</div>
<span data-lark-record-data="{&quot;rootId&quot;:&quot;doxcnHNGhfNdBOMPmw2Qe2uRySS&quot;,&quot;text&quot;:{&quot;initialAttributedTexts&quot;:{&quot;text&quot;:{&quot;0&quot;:&quot;+1 (833) 773 1516&quot;},&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+h&quot;}},&quot;apool&quot;:{&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7018886779998814210&quot;]},&quot;nextNum&quot;:1}},&quot;type&quot;:&quot;text&quot;,&quot;referenceRecordMap&quot;:{},&quot;extra&quot;:{&quot;mention_page_title&quot;:{},&quot;external_mention_url&quot;:{}},&quot;isCut&quot;:false}" data-lark-record-format="docx/text" class="lark-record-clipboard"></span></a>
<p class="c-content">Monday-Friday: 7:00am-6:00pm<br /> Saturday-Sunday: 8:30am-5:00pm<br /><br /></p>
</div>
</div>
<div class="c-u-box">
<h4>Email</h4>
<div class="c-u-item"><a style="margin-bottom: 35px;" class="c-u-t" href="mailto:service@thesupermade.com"> <img style="height: 18px;" src="https://cdn.shopify.com/s/files/1/0598/7955/5231/files/b20a04771bf03e12dc2f747c00dafb0f.png?v=1642674848" alt="" /> service@thesupermade.com</a>
<p class="c-content">For non-urgent matters or suggestion,<br />Please contact us.</p>
</div>
</div>
<div class="c-u-box">
<h4>Follow Us</h4>
<div class="c-u-item"><a class="c-u-t"> <img src="https://cdn.shopify.com/s/files/1/0598/7955/5231/files/e0a54a1accaa4b7a648f34a09f6768f8.png?v=1642674843" alt="" /> Social Media</a>
<ul>
<li><a href="https://www.tiktok.com/@supermade_official" target="_blank" title="Monster Valley Official TikTok Account" rel="noopener noreferrer" class="text-link"> <img src="https://cdn.shopify.com/s/files/1/0598/7955/5231/files/tiktok_89140a3a-c483-4cf1-b03c-83184d8cfdb9.png?v=1642674833" alt="" /> </a></li>
<li><a href="https://www.instagram.com/thesupermade/" target="_blank" title="Monster Valley Official Instagram Account" rel="noopener noreferrer" class="text-link"> <img src="https://cdn.shopify.com/s/files/1/0598/7955/5231/files/ins_38dbe6de-3bef-460e-9439-bd6b83eb27c7_480x480.png?v=1642674828" alt="" /> </a></li>
<li><a href="https://www.facebook.com/thesupermade/?ref=pages_you_manage" target="_blank" title="Monster Valley Official Facebook Page" rel="noopener noreferrer" class="text-link"> <img style="width: 18px;" src="https://cdn.shopify.com/s/files/1/0598/7955/5231/files/facebook_6f7bd96b-f2fa-4f0e-a219-ab7b415cbf2d_480x480.png?v=1642674821" alt="" /> </a></li>
</ul>
<p class="c-content">Follow us on social and DM <br /> us there (response in 8 hours)</p>
</div>
</div>
</div>
<div class="c-u-right">
<h4 style="border-bottom: 1px solid #000; padding-bottom: 20px;">Help Ticket</h4>
<iframe width="100%" height="800" id="mainiframe" src="https://www.allindesk.com/contact/index/service@thesupermade.com" frameborder="0" scrolling="auto"></iframe></div>
</div>
</div>
</div>
<div id="overlay" style="display: none;"></div>
<div id="mes" style="margin-top: 20px; display: none;">
<div class="content" id="content">
<h3>Thank you for your message!</h3>
<p>We will respond to your request within one business day.</p>
</div>
<div class="close" style="position: absolute; right: 20px; top: 0; font-size: 30px; cursor: pointer;">×</div>
</div>
<script>// <![CDATA[
  (function(){
                    $('#overlay,#mes .close').on('click',function(){
                        location.href='/'
                    })
                })()
                window.addEventListener("message", function (event) {
                    console.log('wait1')
                    if (event.data.success) {
                        console.log('success')
                        document.getElementById('mes').style.display = 'block';
                        document.getElementById('overlay').style.display = 'block';
        
                        document.getElementById('content').innerHTML = '<h3>Thank You For Your Message! </h3><p>We will respond to your request within one business day. </p>'
        
                        
                    }
                });
  
// ]]></script>